.title {
    font-size: 3rem;
    line-height: 1;

    @media (min-width: 768px) {
        font-size: 5rem;
        line-height: 1.1;
    }
}

.animatedBox {
    position: relative;
    z-index: 2;
}

.animatedNotification1 {
    @media (min-width: 768px) {
        position: absolute;
        top: -60px;
        left: -80px;
        z-index: 99;
    }
}

.animatedNotification2 {
    @media (min-width: 768px) {
        position: absolute;
        bottom: -40px;
        right: -80px;
        z-index: 99;
    }
}

.animatedBoard {
    transform: rotate(5deg) scale(1.2);
    transform-origin: center;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    z-index: 5;
}